	 <div id="health_sidebar">
  	 <div id="health_list">
  	  <%= link_to blog_path do %>
  	 		<p>VIDEOS</p>
  	 	<% end %>
  	 	<%= link_to juicers_path do %>
  	 		<p>JUICERS</p>
  	 	<% end %>
  	 </div>
  </div>