
<div id="leathernav_box">
	<%= link_to polyurethane_path do %>
		<div class="what_is_box">
			<h1 id="what_is_polyurethane">
		 	What is <br/>Polyurethane?
			</h1>
		</div>
 <% end %>

 <%= link_to vegan_path do %>
		<div class="what_is_box">
			<h1 id="what_is_vegan_leather">
			 What is <br/>Vegan Leather?
			</h1>	
		</div>
	<% end %>

	<%= link_to faux_path do %>
		<div class="what_is_box">
			<h1 id="what_is_faux_leather">
			 What is <br/>Faux Leather?
			</h1>		
		</div>		
	<% end %>
</div>