<%= render 'pages/mainbar' %>


	<div id="container">

		<%= image_tag("carrot_test.jpg", class: "health_img") %>


	<div class="mail_container">
  		<%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

	</div>