
<div id="container">

 <%= render 'pages/navbar' %>

	<div id="home_box">
  <div id="about_box">	
		<%= image_tag("vegan.png", class: "what_is_faux_img") %>
			
			<p class="what_is_faux">
			Vegan leather can mean many different things and the main thing to take away is that there are NO ANIMALS slaughtered for the item that's being sold (in terms of the leather part of the piece of clothing, anyway). There are many different vegan leathers that are available, some of which are: vegetal, lorica, birko-flor, birkibuc, PVC, and kydex. Most of these are plastic substitutes to leather. 
				<br/><br/>
			When a piece of clothing says vegan leather it can generally be accepted as not having any real leather in the product, so there's more assurance that the piece of clothing is animal-free. The retailer is taking into consideration the vegan lifestyle and decides to market it with the terms vegan leather; as opposed to saying '80% polyester, 20% PVC', as an example. 
				<br/><br/>
			</p>
   </div>
		<%= render 'pages/leathernav' %>
		<%= render 'pages/footer' %>
	</div>
</div>