/* STYLES THAT ARE UNIVERSAL FOR WHOLE SITE */

* { 
	margin:0;
	padding:0;
} 

a {text-decoration:none}

a img {
	border:none;
}


html {
		margin:0;
		padding:0;
		border:0;
}

body {
	margin:0 auto;
	background-color:none;
}

p {
	font-family:"Helvetica";
	font-size:14px;
	margin:0px 0px 5px 0px;
}


h1 {
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-family: "ProximaNova-Bold",Helvetica,Arial,sans-serif;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

.container {
	display:block;
	min-width: 1024px;
	max-width: 1024px;
	margin: 0px auto;
	background-color:none;	
	width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto");
}

#container {
	display:block;
	min-width: 1024px;
	max-width: 1024px;
	margin: 0px auto;
	background-color:none;	
	width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto");
}

.debug {
	font-family:"Helvetica";
	color:black;
	float:left;
	width:100%;
	margin:40px 0px 20px 0px;
	background-color:WhiteSmoke;
	border:1px solid #D0D0D0;
	text-align:center;
	opacity:0.5;
}

.alert {
	float:left;
	width:100%;
	padding:10px;
	border:1px solid #D11919;
	background-color:#FF9696;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9696), to(#FF8484));
	background: -moz-linear-gradient(top, #FF9696,  #FF8484);
	text-align:center;
	margin:10px 0px 10px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-family:"Helvetica";
}


/* STYLES JUST FOR THINGS IN PAGES CONTROLLER */


/* MAILCHIMP */


.mail_container {
	width:100%;
	height:50px;
	margin: 0px auto;
	background-color:none;	
	width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto");
}

#mc-embedded-subscribe-form {
	float:left;
	width:450px;
	margin-left:270px;
}

#mc-embedded-subscribe {
	display:inline !important;
	width:50px !important;
	padding:0px 0px 10px 0px !important;
	border:1px solid #D0D0D0 !important;
	border-radius:1px !important;
}

#mce-EMAIL {
	float:left;
	width:300px !important;
}

/* SPLASH PAGE */

#img_bg{
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

  opacity:0.9;
  filter:alpha(opacity=90);/*  For IE8 and earlier */
}

#landing_img_container{
  width: 100%;
  position: fixed;
  z-index: -10;
}

.main_bar {
	width:100%;
	text-align: right;
	height:75px;
	margin:20px 0px 0px 0px;
	border-bottom:1px solid #333;
}

.main_bar a {
	color:#333;
}

.main_logo {
	float:left;
	width:300px;
	margin:0px 0px 0px 350px;
}

.main_tagline {
	float:right;
	width:300px;
	font-size:16px;
	color:#333;
	margin:50px 0px 0px 0px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
}

.login_info {
	float:right;
	font-size:12px;
	width:200px;
	margin:45px 0px 0px 0px;
	font-family:"Helvetica";
}

.login_info p {
	float:left;
	font-size:12px;
	padding:10px;
}

.nav_bar {
	width:96%;
	height:20px;
	text-align:center;
	background-color:none;
	padding:5px 0px 0px 0px;
	margin:10px 0px 20px 0px;	
}

.nav_bar p {
	display:inline;
	text-align: center;
	padding:20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size:16px;	
}

.nav_bar a:visited {
	color:#333;
}

.splash_container {
	display:block;
	min-width: 800px;
	max-width: 1280px;
	margin: 0px auto;
	background-color:none;	
	width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1262? "1260px" : "auto");
}

.logo_box {
	border:1px solid none;
	margin:100px 0px 0px 0px;
}

.logo {
	margin:20px 0px 0px 40px;
}

.footer {
	display:none;
	float:left;
	border-top:1px solid #D0D0D0;
	color:#333;
	width:100%;
	font-size:12px;
	padding:10px;
	margin:10px 0px 10px 0px;
	text-align: center;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#footer_faux {
	float:left;
	display:block;
	font-size:12px;	
	color:#333;	
	width:200px;
	margin:0px 0px 20px 100px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#copyright {
	float:left;
	display:block;
	font-size:12px;	
	color:#333;	
	width:620px;
	text-align:right;
	margin:0px 0px 20px 0px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;	
}

.failure {
	margin:5px 0px 0px 100px;
	width:275px;
	border:1px solid white;
	padding:20px;
	text-align:center;
	font-family:"Helvetica";
	color:#D63333;
	font-size:22px;
	background-color:white;
}

.success {
	margin:5px 0px 0px 100px;
	width:275px;
	border:1px solid white;
	padding:20px;
	text-align:center;
	font-family:"Helvetica";
	color:#0052CC;
	font-size:22px;
	background-color:white;
	opacity:0.7;
}

.home_tagline {
	width:300px;
	text-align:center;
	margin:10px 0px 10px 10px;
	font-size:16px;
	color:white;
	font-weight:bold;
}

.will_paginate {
	float:left;
	text-align: center;
	width:100%;
	opacity:0.1;
}

/* WHAT IS FAUX? */

.what_is_faux_img {
	float:left;
	margin:20px 0px 20px 50px;
}

.what_is_faux {
	float:left;
	width:700px;
	font-family:"Helvetica";
	font-size:16px;
	margin:20px 0px 50px 150px;
}
