/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.new_product_box {
	float:left;
	width:420px;
	border:1px solid #D0D0D0;
	padding:10px;
	margin:20px 0px 20px 270px;
	font-family:"Helvetica";
}

.new_product_box form input {
	display:block;
	width:400px;
	padding:5px;
	font-size:14px;
}

.new_product_box form textarea {
	display:block;
	width:400px;
	height:100px;
	padding:5px;
	font-size:14px;
}

.new_product_box form label {
	display:block;
	padding:5px;
	margin:10px 0px 0px 0px;
}

.new_product_box form input[type=checkbox] {
	float:left;
	margin:0px 0px 0px 0px;
}

.new_product_box form input[type=submit] {
	margin:40px 0px 0px 0px;
	width:400px;
	border:1px solid #D0D0D0;
	background-color:whitesmoke;
}

.new_product_box form input[type=submit]:hover {
	background-color:#D0D0D0;
}


/* PRODUCT INDEX */

#all_products {
	position:absolute;
	width:1024px;
	margin:60px 0px 40px 0px;
}

.each_product {
	float:left;
	width:30%;
	border:1px solid #D0D0D0;
	margin:0px 0px 10px 10px;
}

.each_product_img {
	width:100%;
	border:1px solid none;
}

.each_product_image:hover {
	opacity:0.8;
}

.each_product_info {
	float:left;
	width:93%;
	padding:10px;
	border:1px solid #D0D0D0;
	color:dimgray;
}

/* PRODUCT SHOW */

.show_product_box {
	float:left;
	width:100%;
	border:1px solid #D0D0D0;
	padding:5px;
	font-family:"Helvetica";
	margin:20px 0px 30px 0px;
}

.show_product_info {
	float:right;
	width:400px;
	border:1px solid none;
	padding:20px 10px 10px 10px;
}

.show_product_image {
	float:left;
	margin:0px 0px 0px 20px;
}

.show_product_header {
	float:left;
	font-size:28px;
	color:#333;
	width:380px;
}

.show_product_title {
	float:left;
	font-size:14px;
	color:#333;
	width:380px;
	font-weight:bold;
}

.show_product_price {
	float:left;
	font-size:20px;
	color:#333;
	width:300px;
}

.show_product_description {
	float:left;
	font-size:14px;
	color:#333;
	width:380px;
	margin:10px 0px 0px 0px;
	font-style:italic;
}

.show_product_link {
	float:left;
	width:300px;
	padding:10px;
	text-align:center;
	font-weight:bold;
	color:white;
	background-color:lightblue;
	margin:40px 0px 0px 0px;
}

.show_product_link:hover {
	opacity:0.8;
}
