/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.new_product_box {
	float:left;
	width:420px;
	border:1px solid #D0D0D0;
	padding:10px;
	margin:20px 0px 20px 270px;
	font-family:"Helvetica";
}

.new_product_box form input {
	display:block;
	width:400px;
	padding:5px;
	font-size:14px;
}

.new_product_box form textarea {
	display:block;
	width:400px;
	height:100px;
	padding:5px;
	font-size:14px;
}

.new_product_box form label {
	display:block;
	padding:5px;
	margin:10px 0px 0px 0px;
}

.new_product_box form input[type=checkbox] {
	float:left;
	margin:0px 0px 0px 0px;
}

.new_product_box form input[type=submit] {
	margin:40px 0px 0px 0px;
	width:400px;
	border:1px solid #D0D0D0;
	background-color:whitesmoke;
}

.new_product_box form input[type=submit]:hover {
	background-color:#D0D0D0;
}


/* PRODUCT INDEX */

#all_products {
	position:absolute;
	width:1024px;
	margin:0px 0px 40px 0px;
}

.each_product {
	float:left;
	width:30%;
	border:1px solid #D0D0D0;
	margin:0px 0px 10px 10px;
}

.each_product_img {
	width:100%;
	border:1px solid none;
}

.each_product_img:hover {
	opacity:0.8;
}

.each_product_image:hover {
	opacity:0.8;
}

.each_product_info {
	float:left;
	width:94%;
	padding:10px;
	border-top:1px solid #D0D0D0;
	color:dimgray;
}

/* PRODUCT SHOW */

.show_product_box {
	float:left;
	width:100%;
	border:1px solid #D0D0D0;
	padding:5px;
	font-family:"Helvetica";
	margin:20px 0px 20px 0px;
}

.show_product_info {
	float:right;
	width:400px;
	border:1px solid none;
	padding:20px 10px 10px 10px;
}

.show_product_image {
	float:left;
	margin:20px 0px 20px 20px;
}

.show_product_header {
	float:left;
	font-size:16px;
	color:#6f6d68;
	width:380px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;	
}

.show_product_title {
	float:left;
	font-size:34px;
	color:#333;
	width:380px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;	
}

.show_product_price {
	float:left;
	font-size:20px;
	color:#333;
	width:300px;
}

.show_product_description {
	float:left;
	font-size:14px;
	color:#333;
	width:380px;
	margin:10px 0px 0px 0px;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;	
}

.show_product_link {
	float:left;
	width:300px;
	padding:10px;
	text-align:center;
	font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
	font-weight:bold;
	color:white;
	background-color:#6699FF;
	margin:40px 0px 0px 30px;
}

.show_product_link:hover {
	opacity:0.8;
}

.delete_product {
	float:left;
	width:300px;
	padding:10px;
	text-align:center;
	font-weight:bold;
	color:white;
	background-color:red;
	margin:10px 0px 0px 0px;	
}

.delete_product:hover {
	opacity:0.8;
}

#last_three_all {
	float:left;
	width:900px;
	margin:0px 0px 40px 100px;
}

.last_three_each_product {
	float:left;
	width:250px;
	border:1px solid #D0D0D0;
	margin:0px 0px 10px 20px;
}

.last_three_each_product_img {
	width:100%;
	border:1px solid none;
}

.last_three_each_product_img:hover {
	opacity:0.8;
}

.last_three_each_product_image:hover {
	opacity:0.8;
}

.last_three_each_product_info {
	float:left;
	width:92%;
	padding:10px;
	border-top:1px solid #D0D0D0;
	color:dimgray;
}

